[submodule "ubuntu"]
	path = sysdrv/tools/board/ubuntu
	url = https://github.com/luckfox-eng33/pico_ubuntu.git
[submodule "sysdrv/source/kernel"]
	path = sysdrv/source/kernel
	url = https://github.com/armbian/linux-rockchip/
[submodule "sysdrv/source/uboot/u-boot"]
	path = sysdrv/source/uboot/u-boot
	url = https://github.com/rockchip-linux/u-boot
[submodule "sysdrv/source/uboot/rkbin"]
	path = sysdrv/source/uboot/rkbin
	url = https://github.com/rockchip-linux/rkbin
