[submodule "ubuntu"]
	path = sysdrv/tools/board/ubuntu
	url = https://github.com/luckfox-eng33/pico_ubuntu.git
[submodule "sysdrv/source/kernel"]
	path = sysdrv/source/kernel
	url = https://github.com/armbian/linux-rockchip/
